export TEMPDIR=/tmp/tpcds
export TCPROOT=/home/perf/v2.11.0rc2
export TCPDATA=/mnt/data/data

#export ENV=env/db2
#export ENV=env/bigsql
#export ENV=env/oracle
export ENV=env/hive
#export ENV=env/postgresql
#export ENV=env/sparksql
#export ENV=env/thrive
#export ENV=env/phoenix
#export ENV=env/mysql
#export ENV=env/netezza
#export ENV=env/derby
#export ENV=env/jsqsh
