export TEMPDIR=/tmp/mytpcds
#export TCPROOT=/home/sbartkowski/work/v2.10.0rc2
#export TCPROOT=/home/dbd_user@gruppo.autostrade.it/v2.11.0rc2
export TCPROOT=/home/perf/v2.11.0rc2
#export TCPDATA=/mnt/data/data100

#export ENV=env/db2
#export ENV=env/bigsql
#export ENV=env/oracle
#export ENV=env/hive
#export ENV=env/postgresql
#export ENV=env/sparksql
#export ENV=env/thrive
#export ENV=env/phoenix
#export ENV=env/mysql
#export ENV=env/netezza
#export ENV=env/derby
export ENV=env/jsqsh

