#DB2
DBNAME=PERFDB
DBUSER=db2inst1
DBPASSWORD=db2inst1
CLIENT=client
#SCHEMA=perfdb
DTYPE=db2

DBURL="jdbc:db2://thinkde:50000/$DBNAME"
#DBURL="jdbc:db2://jobbery-inf:50000/$DBNAME:currentschema=$SCHEMA;"
JAVADRIVER=/opt/ibm/db2/V11.5/java/db2jcc4.jar
JVMPARS="-Ddb2.jcc.charsetDecoderEncoder=3"




