#DB2
DBNAME=PERFDB
DBUSER=db2inst1
DBPASSWORD=db2inst1
CLIENT=client

DTYPE=db2

DBURL="jdbc:db2://thinkde:50000/$DBNAME"
JAVADRIVER=/home/db2inst1/sqllib/java/db2jcc4.jar
JVMPARS="-Ddb2.jcc.charsetDecoderEncoder=3"



