DBNAME=bigsql
SCHEMA=PERFDB
DBPASSWORD=secret

DTYPE=jsqsh

HDFSPATH="/tmp/data"

STOREDAS="stored as parquet"
#STOREDAS="stored as orc"

DBURL="jdbc:db2://$DBHOST:$DBPORT/$DBNAME:currentSchema=$SCHEMA;"
JAVADRIVER=/usr/ibmpacks/bigsql/7.1.0.0/db2/java/db2jcc4.jar

