DBNAME=perfdb
DBUSER=redhat
DBPASSWORD=redhat123
#DBHOST=thinkde
DBHOST=post-node-sb.apps.jobbery.cp.fyre.ibm.com 
DBPORT=5432

DBURL="jdbc:postgresql://$DBHOST:$DBPORT/$DBNAME"
JAVADRIVER=/usr/share/java/postgresql-jdbc.jar

DTYPE=psql

#KILLINTERVAL="5 minutes"
KILLINTERVAL="3 hours"

#SKIPQUERY=query03
