#SparkSQL

DTYPE=sparksql

DBNAME=perfdb
TENAME=perfte
DBUSER=perf

HIVEURL="--database XX-XX --master yarn --num-executors 2 -S --conf spark.sql.crossJoin.enabled=true --conf spark.driver.memory=2g "
HDFSPATH="/tmp/data"

# comment out for power test
QUEUE0=default
QUEUE1=queue1
QUEUE2=queue2
QUEUE3=queue3

STOREDAS="stored as parquet"
#STOREDAS="stored as orc"


