LOGDIR=/tmp/eh2bahw/bigtcplog
TMPQ=/tmp/queries

#TCPROOT=/home/sbartkowski/work/v2.10.0rc2
#TCPROOT=/home/sb/tpc/v2.10.0rc2
TCPROOT=/var/iophome/bigsql/eh2bahw/tp

#DB2
DBNAME=BIGSQL
#DBUSER=db2inst1
#DBPASSWORD=db2inst1
CLIENT=client
SCHEMA=perfdb

DTYPE=db2
