LOGDIR=/tmp/tcplog
TMPQ=/tmp/queries

TCPROOT=/home/sb/tpc/v2.10.0rc2

#Hive
DBNAME=perfdb
TENAME=perfte
DBUSER=sb
HIVEURL="jdbc:hive2://hdp1.sb.com:2181,hdp2.sb.com:2181/XX-XX;serviceDiscoveryMode=zooKeeper;zooKeeperNamespace=hiveserver2;principal=hive/_HOST@HDP.COM.REALM;auth=kerberos"
HDFSPATH="/tmp/data"

DTYPE=hive
