LOGDIR=/tmp/mysqllog
TMPQ=/tmp/queries

TCPROOT=/home/sbartkowski/work/v2.10.0rc2
#TCPROOT=/home/sb/tpc/v2.10.0rc2

#mysql
DBNAME=perfdb
DBUSER=perfdb
DBPASSWORD=secret
#DBHOST=127.0.0.1
DBHOST=boil1

DTYPE=mysql

#SKIPQUERY=query94
