TMPQ=/tmp/mytpcds/netezzaqueries
LOGDIR=/tmp/mytpcds/netezzalog
TCPROOT=/home/sbartkowski/work/v2.10.0rc2

# netezza specific
LOGLOADDIR=$LOGDIR

DBNAME=perfdb
DBUSER=perf
DBPASSWORD=secret
DBHOST=netezza

DTYPE=netezza
