LOGDIR=/tmp/phoenixlog

#TCPROOT=/home/sbartkowski/work/v2.10.0rc2
#TCPROOT=/home/sb/v2.10.0rc2
TCPROOT=/home/sb/v2.10.0rc2
TMPQ=/tmp/phoqueries


#Phoenix
DBNAME=XX
DBUSER=XX
HDFSPATH="/tmp/data"
#PHOHOME=/usr/hdp/2.6.4.0-91/phoenix
PHOHOME=/usr/hdp/2.6.5.0-292/phoenix
#PHOURL="hdp1.sb.com,hdp2.sb.com:/hbase-secure"
PHOURL="myhdp3.fyre.ibm.com,myhdp2.fyre.ibm.com,myhdp1.fyre.ibm.com:/hbase-unsecure"

DTYPE=phoenix
