#SparkSQL
DBNAME=perfdb
DBUSER=sb

DTYPE=sparksql

SPARKSQLPARAM="--master yarn --num-executors 2 -S"

TCPQ0=$TCPROOT/work/hivequeries/query_0.sql
RESFILE0=$TCPROOT/work/hivequeries/$DTYPE.result$STREAMNO
